* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --white: white;
}

.sliderWrapper {
  height: 100vh;
  width: 100vw;
}
.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.slide-active {
  opacity: 1;
}

.sliderImg {
  display: flex;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.info {
  position: absolute;
  top: 30%;
  left: 10%;
  user-select: none;
}

.info .section {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
.info .section .sectionCircleWhite {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid var(--white);
}
.info .section .sectionCircleBlack {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid black;
}

.info .section .one {
  font-size: 8rem;
  /* Use line hight to position verticaly text */
  line-height: 1.5rem;
}
.info .section .oneWhite {
  color: var(--white);
}
.info .section .oneBlack {
  color: black;
}

.info .section .crossLine {
  position: absolute;
  left: -40px;
  top: 20px;
  width: 210px;
  transform: rotate(-45deg);
}
.info .section .crossLineBlack {
  border-bottom: 1px solid black;
}
.info .section .crossLineWhite {
  border-bottom: 1px solid var(--white);
}

.info .description {
  position: relative;
}

.info .description p {
  font-size: 4rem;
}
.info .descriptionWhite p {
  color: var(--white);
}
.info .descriptionBlack p {
  color: black;
}

.info .company p {
  font-size: 2rem;
  font-weight: 100;
}
.info .companyWhite p {
  color: var(--white);
}
.info .companyBlack p {
  color: black;
}
.info .company span {
  font-weight: 800;
}
.underlineWrapper {
  position: relative;
  display: flex;
  margin-top: 100px;
  align-items: center;
}
.underline {
  width: 200px;
  /* border-bottom: 2px solid black; */
}
.underlineBlack {
  border-bottom: 2px solid black;
}
.underlineWhite {
  border-bottom: 2px solid var(--white);
}

.circleArrowDiv {
  position: relative;
  margin-left: 50px;
  cursor: pointer;
}
.outerCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.outerCircleBlack {
  border: 2px solid black;
}
.outerCircleWhite {
  border: 2px solid var(--white);
}
.outerCircle span {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrowWhite {
  color: var(--white);
}
.navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  align-items: center;
  top: 80%;
}
.navigation .arrows {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 40px;
  user-select: none;
}
/* ////////////////////NAVIGATION////////////////////// */
.navigation .znakKeuneWhite {
  position: relative;
  width: 18px;
  height: 18px;
  bottom: 7px;
  right: 2px;
  cursor: pointer;
}
.navigation .znakKeune {
  position: relative;
  width: 18px;
  height: 18px;
  bottom: 7px;
  right: 8px;
  cursor: pointer;
}

.navigation .buttonsBlack {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  /* transition: all 0.2s ease-in; */
}
.navigation .buttonsWhite {
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--white);
}

.navigation .buttonBlack {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px 50px;
  cursor: pointer;
  border: 1.5px solid rgba(0, 0, 0);
}
.navigation .buttonWhite {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 10px 50px;
  cursor: pointer;
  border: 1.5px solid var(--white);
}
.navigation .buttonBlank {
  width: 10px;
  height: 10px;
  margin: 10px 50px;
  border: 2px solid rgba(0, 0, 0, 0);
}

/* ///////////////////MEDIA QUERIES///////////////////////// */
@media (max-width: 1500px), (max-height: 800px) {
  .info {
    left: 6%;
  }
  .info .description p {
    font-size: 3rem;
  }
}
@media (max-width: 1000px) {
  .underlineWrapper {
    margin-top: 60px;
  }

  .info .section .sectionCircle {
    width: 50px;
    height: 50px;
    border-width: 6px;
  }

  .info .section .one {
    font-size: 6rem;
    line-height: 2rem;
  }
  .info .section .crossLine {
    left: -30px;
    top: 20px;
    width: 160px;
  }
}
@media (max-width: 600px), (max-height: 800px) {
  .underlineWrapper {
    margin-top: 30px;
  }

  .info {
    top: 25%;
  }
  .info .description p {
    font-size: 2.5rem;
  }
  .info .company p {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px), (max-height: 600px) {
  .info {
    top: 22%;
  }
  .info .description p {
    font-size: 2rem;
  }
  .info .company p {
    font-size: 1.2rem;
  }

  .underline {
    width: 120px;
  }
  .circleArrowDiv {
    margin-left: 40px;
  }
  .outerCircle {
    width: 60px;
    height: 60px;
  }
  .navigation {
    top: 75%;
  }
  .socials {
    margin: 0;
  }

  .arrows .arrow {
    font-size: 35px;
  }

  .navigation .buttonBlack {
    width: 14px;
    height: 14px;
  }
  .navigation .buttonWhite {
    width: 14px;
    height: 14px;
  }

  .navigation .znakKeuneWhite {
    width: 24px;
    height: 24px;
    bottom: 10px;
  }
  .navigation .znakKeune {
    width: 24px;
    height: 24px;
    bottom: 10px;
    right: 10px;
  }
}
